:root {
  font-size: 15px;
  --header-text-color: grey;
  --main-text-color: black;
  background-color: light-gray;
}

h1{
  font-size: 5rem;
  color: var(--header-text-color);
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3rem;
}

p{
  font-size: 2rem;
  color: var(--main-text-color)
}
